
body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(header01.jpg) no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}

.container{
	display: grid;
	background-position: center;
    background-repeat: no-repeat;
	background-color: #f8f8f8;
	width: 50vh;
	margin-left: auto; margin-right: auto;
	padding: 0; border: 0; position: 0;
}

.row{
	color: white;
	background-color: #fff;
	background-position: center;
}

h5{
	color:  darkgoldenrod;
	font-weight: 700;
	font-family: cursive;
}

p{
	color:  black;
	text-decoration: !important;
	font-size: 0.8rem;
	font-weight: 700;
}

.buffer1{
	height: 1rem;
}

form {
	color: darkgoldenrod;
	font-weight: 700;
	font-size: 1.2rem;
}

input {
	font-weight: 700;
	border-radius: 200px;
	background-color: darkred;
	border-color: darkred;
	color: white;
}

button{
	font-weight: 700;
	border-radius: 200px;
	background-color: darkred;
	border-color: darkred;
	color: white;
	margin-bottom: 10px;
}

.buffer2{
	height: 4rem;
}

.container2{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 0; border: 0; position: 0;
}

.Cright{
	color:  blueviolet;
	font-size: 0.8rem;
	font-weight: 700;
}

